@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-primary;
    /* background: linear-gradient(to bottom, #F0F9FF, #E0ECFF); */
    background-color: #eaf3fb;
  background-image:
    url('/src/assets/bg-splash2.png'),
    linear-gradient(to bottom, #eaf3fb, #dbe7f9, #cbdcf6, #b9d1f3);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px auto, 100% 100%;
  }

  html {
    scroll-behavior: smooth;
  }

}